@import "./base/base";
@import "./abstracts/constants";



.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
  background-color: $color-background-primary;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 12px;
  text-decoration: none;
  font-size: 2.0rem;
  font-weight: 300;
  line-height: 50px;
  color: $color-text-secondary;
  transition: .5s;
}

.nav-link:hover {
  color: $color-text-primary;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid $color-border-bottom;
}

.section-education,
.section-english {
  border-bottom: 0;
}

.section-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $color-background-primary;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid $color-background-secondary;
}

.pre {
  padding: 0;
  margin: 0;
  line-height: 1;
}

.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

.main-title {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  color: $color-text-primary;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 10px;
  line-height: 50px;
  word-spacing: 3px;
}

.section-subtitle {
  margin-top: 20px;
  color: $color-section-subtitle;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: 2px;
}

.section-profile-logo {
  width: 200px;
  height: 200px;
  border-radius: 25%;
}

.section-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-item {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.section-item a {
  text-decoration: none;
  color: $color-background-primary;
  transition: color 0.5s;
}

.section-item a:hover {
  color: $color-text-primary;
}

footer {
  padding: 20px;
  background-color: $color-background-primary;
  color: $color-text-secondary;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}