body {
    font-family: 'Noto Sans', sans-serif;
    /* background: black; */
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

/* .header {
    border: 1px solid red; } 

.main {
    border: 1px solid white; }

.footer {
    border: 1px solid blue; } */

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

html {
    scroll-behavior: smooth; 
}

.nav-list {
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}
.section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
}

.section-item a:hover {
    color: #4d2323;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}
  
.section {
    width: 50%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

.link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
}
  
.link:hover {
    color: #5d7260;
}

.section-item {
    position: relative;
    padding-left: 30px;
}
  
.section-item::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px; 
    /*border: 1px solid #829985;
    /* border-radius: 50%; */
}