* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* positioning */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* block model  */
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* typography */
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  /* decoration */
  color: #4d2323;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    /* from media */
    padding: 0 20px;
}

.header {
  background-color: #829985;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  transition: .5s;
}

.nav-link:hover {
  color: #4d2323;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #672f2f;
}

.section-education,
.section-english {
  border-bottom: 0;
}

.section-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid #d7d1c9;
}

.pre {
  padding: 0;
  margin: 0;
  line-height: 1;
}

.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

.main-title {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  color: #4d2323;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 10px;
  line-height: 50px;
  word-spacing: 3px;
}

.main-title:after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  height: 2px;
  background-color: #829985;
}

.section-subtitle {
  margin-top: 20px;
  color: #5c5c5c;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: 2px;
}

.section-profile-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.section-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-item {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.section-item a {
  text-decoration: none;
  color: #829985;
  transition: color 0.5s;
}

.section-item a:hover {
  color: #4d2323;
}

footer {
  padding: 20px;
  background-color: #829985;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}