$color-text-primary: #D15C3E;
$color-text-secondary: #FFFFFF;
$color-background-primary: #5C3ED1;
$color-background-secondary: #AD9FE8;
$color-border-bottom: #672F2F;
$color-section-subtitle: #5c5c5c;