* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  /* positioning */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* block model  */
  min-width: 320px;
  margin: 0;
  padding: 0;
  /* typography */
  font-family: 'Noto Sans', Verdana, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  /* decoration */
  color: $color-text-primary;
}